version: '3.8'

services:
  myapp:
    build: .
    container_name: my-app-container
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgressetup-pgsetupkamal5.g.aivencloud.com:20691/defaultdb
      SPRING_DATASOURCE_USERNAME: avnadmin
      SPRING_DATASOURCE_PASSWORD: AVNS_D5_3uidtWH7YM8IO46M
    volumes:
      - ./target/BM_GroupE-0.0.1-SNAPSHOT.jar:/app.jar
    entrypoint: ["java", "-jar", "/app.jar"]